In this notebook, we explore the datasets that will be used for classification and for the clustering analysis.

- Initial dataset information:
    - Type of data
    - Missing values
- Distribution of the data and attributes

In [5]:
# Importing libraries

import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
# Importing the data
df_data = pd.read_csv("C:\\Users\\Gebruiker\\Documents\\thesiscode\\experimental\datasets\german_credit_data_target\german_credit_data.csv", index_col=0)

df_data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [7]:
# General overview of data (e.g type of data, missing values)
df_data.info()
df_data.describe()
df_data.nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 62.5+ KB

Age                  53
Sex                   2
Job                   4
Housing               3
Saving accounts       4
Checking account      3
Credit amount       921
Duration             33
Purpose               8
Risk                  2
dtype: int64

In [ ]:
# Data visualisation (will be added later)